body {
  margin: 0;
  font-family: 'Hind', sans-serif;
  background-color: #fff; }

button {
  background-color: #699900;
  color: #fff;
  font-weight: bold;
  border: none;
  font-size: 16px;
  height: 60px;
  padding: 0 55px;
  border-radius: 5px; }

.header {
  background: url("../img/m-h-day.jpg") no-repeat center/100% auto;
  padding: 26px 192px 220px;
  border-radius: 700px/400px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.section {
  padding: 0 192px;
  text-align: center; }

.landing-logo, .footer .landing-logo {
  color: #2c2f3c;
  display: flex;
  align-items: center; }
  .landing-logo p, .footer .landing-logo p {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
    padding-left: 15px;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .landing-logo p span, .footer .landing-logo p span {
      font-size: 10px;
      line-height: 10px; }

.header_heading {
  color: #2c2f3c;
  font: bold 90px 'Source Sans Pro', sans-serif;
  line-height: 96px;
  max-width: 610px;
  position: relative;
  z-index: 0;
  margin: 80px 0 50px; }
  .header_heading::before {
    content: "";
    background-color: #14a0c7;
    position: absolute;
    height: 25px;
    width: 380px;
    z-index: -1;
    left: 0;
    bottom: 0; }

.header_text {
  white-space: pre-line;
  color: #2c2f3c;
  margin: 0 0 80px; }

.section_text {
  text-align: center;
  color: #2c2f3c;
  font: 600 42px 'Source Sans Pro', sans-serif;
  position: relative;
  z-index: 0;
  display: inline-block; }
  .section_text::before {
    content: "";
    background-color: #14a0c7;
    position: absolute;
    height: 12px;
    width: 190px;
    z-index: -1;
    right: 12px;
    bottom: 6px; }

.section_card_wrap {
  display: flex;
  margin: 0 -12px 174px; }
  .section_card_wrap .section_card {
    background-color: #21232e;
    text-align: center;
    padding: 24px;
    border-radius: 5px;
    flex: 1 1 0;
    margin: 0 12px; }
    .section_card_wrap .section_card .section_card_img {
      border-radius: 5px;
      width: 100%; }
    .section_card_wrap .section_card .section_card_heading {
      color: #fff;
      font-size: 20px;
      display: inline-block;
      position: relative;
      z-index: 0; }
      .section_card_wrap .section_card .section_card_heading .section_card_underline {
        height: 12px;
        width: 100%;
        background-color: #14a0c7;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 15px;
        z-index: -1; }
    .section_card_wrap .section_card .section_card_text {
      color: #adc3ce;
      font-size: 13px; }

.section_banner {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  background: linear-gradient(to right, #649314 0%, #2f5dd3 100%);
  border-radius: 5px;
  margin: 0 170px -92px;
  padding: 42px 0 58px;
  position: relative;
  z-index: 1; }
  .section_banner .section_banner_text_wrap {
    text-align: left; }
    .section_banner .section_banner_text_wrap .section_banner_heading {
      font-size: 25px;
      font-weight: 600;
      color: #2c2f3c;
      display: inline-block;
      position: relative;
      z-index: 0;
      margin: 0 0 5px; }
      .section_banner .section_banner_text_wrap .section_banner_heading::before {
        content: "";
        background-color: #14a0c7;
        position: absolute;
        height: 12px;
        width: 52px;
        z-index: -1;
        left: 102px;
        bottom: 6px; }
    .section_banner .section_banner_text_wrap .section_banner_text {
      font-size: 13px;
      color: #adc3ce;
      margin-bottom: 0; }

.footer {
  background-color: #21232e;
  color: #adc3ce;
  padding: 164px 192px 70px; }
  .footer .landing-logo {
    color: #c0c3ce; }
  .footer .footer_text {
    max-width: 366px; }

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between; }
