// Write your styles here
@mixin flex {
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  font-family: 'Hind', sans-serif;
  background-color: $bodyBackground;
}

button {
  background-color: $buttonBackground;
  color: #fff;
  font-weight: bold;
  border: none;
  font-size: 16px;
  height: 60px;
  padding: 0 55px;
  border-radius: 5px;
}

.header {
  background: $headerBackground;
  padding: 26px 192px 219px;
}

.section {
  padding: 0 192px;
}

.landing-logo {
  color: $headingTextColor;
  display: flex;
  align-items: center;

  p {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
    padding-left: 15px;
    @include flex;
    flex-direction: column;

    span {
      font-size: 10px;
      line-height: 10px;
    }
  }
}

.header_heading {
  color: $headingTextColor;
  font: bold 60px 'Source Sans Pro', sans-serif;
  max-width: 610px;
}

.header_text {
  max-width: 820px;
  color: $headingTextColor;
}

.section_text {
  text-align: center;
  color: $headingTextColor;
  font: 600 35px 'Source Sans Pro', sans-serif;
}

.section_card_wrap {
  display: flex;
  margin: 0 -12px 174px;

  .section_card {
    background-color: $cardAndFooterBackground;
    text-align: center;
    padding: 24px;
    border-radius: 5px;
    flex: 1 1 0;
    margin: 0 12px;

    .section_card_img {
      border-radius: 5px;
      width: 100%;
    }

    .section_card_heading {
      color: #fff;
      font-size: 20px;
    }

    .section_card_text {
      color: $textColor;
      font-size: 13px;
    }
  }
}

.section_banner {
  @include flex;
  justify-content: space-around;
  background: $bannerGradient;
  border-radius: 5px;
  margin: 0 170px -92px;
  padding: 39px 0 60px;
  position: relative;
  z-index: 1;

  .section_banner_heading {
    font-size: 25px;
    color: $headingTextColor;
  }

  .section_banner_text {
    font-size: 13px;
    color: $textColor;
  }
}

.footer {
  background-color: $cardAndFooterBackground;
  color: $textColor;
  padding: 164px 192px 70px;

  .landing-logo {
    @extend .landing-logo;
    color: #c0c3ce;
  }

  .footer_text {
    max-width: 366px;
  }
}

.footer-wrap {
  @include flex;
  justify-content: space-between;
}