$headingTextColor: #2c2f3c;

$textColor: #adc3ce;

$cardAndFooterBackground: #21232e;

$buttonBackground: #699900;

$bodyBackground: #fff;

$headerBackground: url("../img/m-h-day.jpg") no-repeat center/100% auto;

$bannerGradient: linear-gradient(to right, #649314 0%,#2f5dd3 100%);